/* odontograma.component.css */
.odontograma-container {
  display: flex;
}

.palette {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.button {
  margin-bottom: 5px;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
}

.color-palette button {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
}

.canvas-container{
  /**/
  cursor: pointer;
}